{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-auto sidebar">
                <!-- Form for selectors and inputs -->
                <form id="map-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Form content with Bootstrap classes -->
                    <!-- City Selector with Bootstrap classes -->
                    <div class="form-group">
                        <label for="city">City:</label>
                        <select name="city" id="city" class="form-control">
                            <option value="" selected disabled hidden>Select a city</option>
                            <option value="Poznań">Poznań</option>
                            <option value="Warszawa">Warszawa</option>
                            <option value="Hasselt">Hasselt</option>
                            <!-- Add more cities here -->
                        </select>
                    </div>

                    <!-- District Selector with Bootstrap classes -->
                    <div class="form-group">
                        <label for="district">District:</label>
                        <select name="district" id="district" class="form-control">
                            <!-- Districts will be added dynamically -->
                            <option value="" selected disabled hidden>Select a district</option>
                        </select>
                    </div>                    

                    <!-- Checkbox for benches with Bootstrap classes -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_benches" name="show_benches" checked>
                        <label class="form-check-label" for="show_benches">Show Benches</label>
                    </div>

                    <!-- Checkbox Selectors for Good Street -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_good" name="show_good" checked>
                        <label class="form-check-label" for="show_good">Show Good Streets</label>
                    </div>

                    <!-- Color Selector for Good Street -->
                    <div class="form-group form-inline">
                        <label for="good_color">Good Color:</label>
                        <input type="color" class="form-control" id="good_color" name="good_color" value="#009900" style="width: 50px; margin-left: 10px;">
                    </div>

                    <!-- Checkbox Selectors for Okay Street -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_okay" name="show_okay" checked>
                        <label class="form-check-label" for="show_okay">Show Okay Streets</label>
                    </div>

                    <!-- Color Selector for Okay Street -->
                    <div class="form-group form-inline">
                        <label for="okay_color">Okay Color:</label>
                        <input type="color" class="form-control" id="okay_color" name="okay_color" value="#FFA500" style="width: 50px; margin-left: 10px;">
                    </div>

                    <!-- Checkbox Selectors for Bad Street -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_bad" name="show_bad" checked>
                        <label class="form-check-label" for="show_bad">Show Okay Streets</label>
                    </div>

                    <!-- Color Selector for Bad Street -->
                    <div class="form-group form-inline">
                        <label for="bad_color">Bad Color:</label>
                        <input type="color" class="form-control" id="bad_color" name="bad_color" value="#ff0000" style="width: 50px; margin-left: 10px;">
                    </div>

                    <!-- Checkbox Selectors for Empty Street -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_empty" name="show_empty" checked>
                        <label class="form-check-label" for="show_empty">Show Empty Streets</label>
                    </div>

                    <!-- Color Selector for Empty Street -->
                    <div class="form-group form-inline">
                        <label for="empty_color">Empty Color:</label>
                        <input type="color" class="form-control" id="empty_color" name="empty_color" value="#000000" style="width: 50px; margin-left: 10px;">
                    </div>

                    <!-- Slider for Good Distance -->
                    <div class="form-group">
                        <label for="good_distance">Good Distance:</label><span id="good_distance_value"><b> 50 m </b></span>
                        <input type="range" class="form-control-range" id="good_distance" name="good_distance" min="0" max="300" value="50">
                    </div>

                    <!-- Slider for Okay Distance -->
                    <div class="form-group">
                        <label for="okay_distance">Okay Distance:</label><span id="okay_distance_value"><b> 150 m </b></span>
                        <input type="range" class="form-control-range" id="okay_distance" name="okay_distance" min="0" max="300" value="150">
                    </div>

                    <script>
                        // Get the slider elements
                        const goodDistanceSlider = document.getElementById('good_distance');
                        const okayDistanceSlider = document.getElementById('okay_distance');

                        // Get the value display elements
                        const goodDistanceValue = document.getElementById('good_distance_value');
                        const okayDistanceValue = document.getElementById('okay_distance_value');

                        // Update the value display elements when the slider values change
                        goodDistanceSlider.addEventListener('input', function() {
                            goodDistanceValue.innerHTML = '<b> ' + goodDistanceSlider.value + ' m </b>';
                        });

                        okayDistanceSlider.addEventListener('input', function() {
                            okayDistanceValue.innerHTML = '<b> ' + okayDistanceSlider.value + ' m </b>';
                        });
                    </script>

                    <!-- File for Benches -->
                    <div class="form-group">
                        <label for="benches_file">Benches File:</label>
                        <input type="file" class="form-control-file" id="benches_file" name="benches_file" accept=".csv,.xlsx">
                    </div>

                    <!-- Submit button with Bootstrap classes -->
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary" id="show_map_btn">Show Map</button>
                        <button type="submit" class="btn btn-secondary" id="show_heatmap_btn">Show Heatmap</button>
                    </div>
                </form>
            </div>
            <div class="col map">
                <!-- This is where the map will be displayed -->
                {{ map_html | safe }}
            </div>
        </div>
    </div>
{% endblock %}